* {
  font-family: 'Roboto', sans-serif;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

.name {
  margin-left: 1%;
  margin-right: 65%;
}

.hero-container {
  text-align: center;
  background-color: gray;
  width: 100%;
  height: 720px;
  background-image: url(https://pre00.deviantart.net/3ae0/th/pre/i/2012/217/a/b/san_francisco_from_treasure_island_by_conceptualuminosity-d59whjj.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  padding-top: 5%;
  font-size: 25px;
}

.headshot {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.bio-container {
  margin-top: -1.5%;
  background-image: url(http://getwallpapers.com/wallpaper/full/7/c/d/469138.jpg);
  background-size: cover;
  height: 780px;
}

.bio-content {
  padding-top: 4%;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  height: 620px;
  color: white;
}

.about-me {
  font-size: 40px;
}

.about-me-p {
  font-size: 22px;
  line-height: 145%;
}

#portfolio-container {
  padding-bottom: 3%;
}

.portfolio-content {
  padding-top: 4%;
  text-align: center;
  background-color: #cfcdcc;
}

.hopinion-name, .concert-name, .cocktail-name {
  font-size: 30px;
}

.hopinion-description, .concert-description, .cocktail-description {
  font-size: 20px;
  margin-bottom: 3%;
  line-height: 145%;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

div.concert-content, div.cocktail-content {
  padding-bottom: 4%;
}

.cocktail-content {
  border-bottom: 1px solid black;
}

.break-line {
  margin-top: -5%;
}

.break-line2 {
  margin-top: -8%;
}


.hopinion-screen, .concert-screen, .cocktail-screen {
  margin-top: 1%;
  width: 85%;
  height: 700px;
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
}

.projects {
  font-size: 40px;
}

.hopinion-links li, .concert-links li, .cocktail-list li {
  list-style: none;
  display: inline;
}

.concert-content {
  padding-top: 8%;
  background-color: #cfcdcc;
}

.cocktail-content {
  padding-top: 10%;
  text-align: center;
  background-color: #cfcdcc;
}

.contact-content {
  text-align: center;
  padding: 1%;
  font-size: 25px;
  margin-top: -2%;
}

.contact-list li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.email-list {
  margin-right: 3.5%;
}

.copyright {
  font-size: 15px;
}

li.demo {
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
  cursor: pointer;
  margin-right: 5% !important;
  outline: solid 5px #b3f9ff;
  transition: outline 0.6s linear;
  margin: 0.5em; 
}

li.code {
  padding: 1%;
  padding-right: 4%;
  padding-left: 4%;
  cursor: pointer;
  margin-right: 4% !important;
  outline: solid 5px #b3f9ff;
  transition: outline 0.6s linear;
  margin: 0.5em; 
}

.demo:hover {
  background-color: #c2c0cf;
  outline-width: 10px;
}

.code:hover {
  background-color: #c2c0cf;
  outline-width: 10px;
}

.linked-in {
  height: 70px;
  width: 70px;  
}

.git-hub {
  height: 50px;
  width: 50px;
  margin-bottom: .8%;
}

.email {
  height: 70px;
  width: 70px;
}

.line-fade {
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(black), to(#cfcdcc));
    margin-top: 5%;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  .topnav.responsive {
    position: relative;
  }
  
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}